<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HistoryUrl" value="http://www.seebaobao.cn/appAction_invoke.action,http://localhost:8000/blog/index/1,http://localhost:8000/blog/index/,/blog/index/,http://127.0.0.1/blog/index/,http://120.55.126.118/appAction_invoke.action,http://120.55.126.118/appAction_invoke.action/,http://www.diandian.com/notes?sPostId=7444d890-f70d-11e1-9d08-782bcb32ff27&amp;postId=7444d890-f70d-11e1-9d08-782bcb32ff27&amp;types=1%2C2%2C3%2C4&amp;count=20&amp;t=1346836537582" />
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
